@tailwind base;
@tailwind components;
@tailwind utilities;



.top-5-5 {
    top: -0.5%
}


.gradientbg {
    background: linear-gradient(180deg,#fff 50%,#fbfcff 0);
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

.product-card{
    transform: scale(5);
    transition: transform .5s ease;
}
